.basket-popup {
    position: fixed;
    top: 80px;
    right: 20px;
    height: 100%;
    transition: var(--transition-arrow);
    z-index: 999;
}

.basket-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--color-white);
    max-width: 624px;
    border-radius: var(--btn20-border-radius);
    box-shadow: var(--basket-box-shadow);
}

.basket-content.empty,
.basket-content.filled {
    flex-direction: column;
    justify-content: space-between;
    width: 624px;
}

/* ------ Basket ------ */

.basket-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket-summary p {
    margin-bottom: 0px;
    font-weight: 400;
}

.total-amount,
.byn {
    font-weight: 600;
}

.basket-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    padding: 11px 52px;
    border-radius: var(--btn4-border-radius);
    background-color: var(--color-madder);
    color: var(--color-white);
    font-weight: 700;
}

.basket-button:hover {
    background-color: var(--color-madder-hover);
}

/* ------ Empty Basket ------ */

.basket-content.empty {
    padding: 38px 12px 27px 12px;
}

.basket-content.empty img {
    justify-self: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
}

.basket-content.empty .basket-button {
    padding: 11px 68px;
}

/* ------ Filled Basket ------ */

.basket-content.filled {
    padding: 0px 12px 28px;
}

.basket-popup .basket-content .order-list {
    max-height: 400px; /* Максимальная высота списка */
    overflow-y: auto; /* Вертикальный скроллинг */
    padding-right: 12px; /* Отступ для скроллбара */
}

/* --- Order List --- */

.order-list {
    margin-bottom: 38px;
}

.order-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 25px 12px 25px 0px;
    border-bottom: 1px solid var(--color-platinum);
}

.order-item:first-child {
    border-top: 1px solid var(--color-platinum);
}

.order-image {
    width: 94px;
    height: 60px;
}

.order-product {
    flex-grow: 1;
}

.order-product-title,
.order-product-price {
    font-weight: 600;
}

.order-product-parameter {
    color: var(--color-silver);
}

.order-product-price {
    padding: 0px 8px;
}

.order-product-delete-btn {
    padding: 12px;
    background-image: url(/icons/trash-icon.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    background-color: transparent;
    margin-left: 8px;
}

/* --- Counter --- */

.order-product-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88px;
    height: 36px;
    border: 1px solid var(--color-platinum);
    border-radius: var(--btn10-border-radius);
    padding: 2px 12px;
}

.count-minus,
.count-plus {
    color: var(--color-madder);
    font-weight: 200;
    width: 11px;
}

.count-minus:hover,
.count-plus:hover {
    color: var(--color-madder-hover);
}

/* --- Text --- */
.count-minus,
.count-plus,
.total-amount,
.byn {
    font-size: clamp(24px, calc(24 / 1440 * 100vw), 48px);
}

.basket-summary p {
    font-size: clamp(20px, calc(20 / 1440 * 100vw), 40px);
}

.order-product-title {
    font-size: clamp(16px, calc(16 / 1440 * 100vw), 32px);
}

.basket-button,
.order-product {
    font-size: clamp(14px, calc(14 / 1440 * 100vw), 28px);
}

/* ------ Media ------ */

/* --- Tablet --- */

@media (max-width: 768px) {
    .basket-popup .basket-content .order-list {
        max-height: 300px;
        overflow-y: auto;
        padding-right: 12px;
    }

    /* --- Text --- */
    .count-minus,
    .count-plus,
    .total-amount,
    .byn {
        font-size: clamp(24px, calc(24 / 768 * 100vw), 48px);
    }

    .basket-summary p {
        font-size: clamp(20px, calc(20 / 768 * 100vw), 40px);
    }

    .order-product-title,
    .basket-button,
    .order-product {
        font-size: clamp(14px, calc(14 / 768 * 100vw), 28px);
    }
}

/* --- Mobile --- */

@media (max-width: 360px) {
    .basket-popup .basket-content .order-list {
        max-height: 200px;
        overflow-y: auto;
        padding-right: 12px;
    }

    .basket-content.empty, 
    .basket-content.filled {
        flex-direction: column;
        justify-content: space-between;
        width: auto;
    }

    .basket-content.filled {
        padding: 0px 12px 14px;
    }

    .basket-summary {
        padding: 0px;
        flex-direction: column;
        align-items: start;
        gap: 14px;
    }

    .order-image {
        display: none;
    }
    
    .count-minus,
    .count-plus {
        width: 6px;
    }

    .order-product-count {
        padding: 2px 10px;
        width: 66px;
        height: 30px;
    }

    .basket-button {
        padding: 10px 26px;
    }

    .order-item {
        padding: 16px 6px;
    }

    .order-list {
        margin-bottom: 20px;
    }

    .order-product-delete-btn {
        background-size: 16px;
        margin-left: 4px;
    }

    /* --- Text --- */
    .total-amount,
    .byn {
        font-size: clamp(16px, calc(16 / 360 * 100vw), 38px);
    }

    .count-minus,
    .count-plus,
    .basket-button,
    .basket-summary p {
        font-size: clamp(14px, calc(14 / 360 * 100vw), 28px);
    }

    .order-product-price,
    .count-amount {
        font-size: clamp(12px, calc(12 / 360 * 100vw), 24px);
    }

    .order-product-title,
    .order-product {
        font-size: clamp(10px, calc(10 / 360 * 100vw), 20px);
    }
}