.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 65px;
    background-color: var(--color-white);
    padding: 8px 130px;
    /* padding-top: 8px;
    padding-bottom: 8px;
    padding-inline: 130px; */
    font-weight: 500;
}

/* ------ Menu and Logo ------ */

.header-logo-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

.header-logo {
    flex-shrink: 0;
}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

.header-menu-link {
    display: inline-flex;
    height: 100px;
    align-items: center;
    column-gap: 30px;
    text-transform: uppercase;
}

.header-menu-link:first-child {
    column-gap: 3px;
}

.header-menu-link:last-child {
    column-gap: 5px;
}

.header-subnav:hover .header-our-menu-icon,
.header-menu-link:hover .header-our-menu-icon {
    transform: rotate(180deg);
    transition: var(--transition-arrow);
}

/* ------ Subnav ------ */

.header-subnav {
    position: relative;
}

.header-subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: var(--color-white);
    width: 210px;
    z-index: 1;
}

.header-subnav:hover .header-subnav-content {
    display: block;
}

.header-subnav-content a {
    display: block;
    padding: 12px;
}

.header-subnav-content a:hover {
    color: var(--color-madder);
    transition-duration: var(--transition-duration);
}

/* ------ Telephone ------ */

.header-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

.header-telephone-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-telephone-link {
    display: flex;
    align-items: center;
}

.header-telephone-icon {
    height: 100%;
    margin-right: 5px;
}

.header-telephone-details {
    display: flex;
    flex-direction: column;
}

.header-hours {
    color: var(--color-silver);
    font-size: 12px;
    margin-top: 3px;
    align-self: flex-end;
}

/* ------ Basket ------ */

.header-basket-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
    border-radius: 6px;
    padding: 6px 16px;
    background-color: var(--color-white-smoke);
}

.basket-separator {
    background-color: var(--color-white);
    border-radius: 4px;
    width: 2px;
    height: 24px;
}

.header-basket-icon {
    position: relative;
}

.basket-item-count {
    display: flex;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    color: var(--color-white);
    background-color: var(--color-dark);
    font-size: 12px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    right: -20%;
}