.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 65px;
    background-color: var(--color-white);
    padding: 8px 130px;
    max-height: 100px;
    font-weight: 500;
}

/* ------ Menu and Logo ------ */

.header-logo-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

.header-logo {
    flex-shrink: 0;
}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

.header-menu-link {
    display: inline-flex;
    height: 50px;
    align-items: center;
    column-gap: 30px;
    text-transform: uppercase;
}

.header-menu-link:first-child {
    column-gap: 3px;
}

.header-menu-link:last-child {
    column-gap: 5px;
}

.header-subnav:hover .header-our-menu-icon,
.header-menu-link:hover .header-our-menu-icon {
    transform: rotate(180deg);
    transition: var(--transition-arrow);
}

.header-telephone-icon:hover {
    opacity: 0.8;
}

.header-burger:hover {
    opacity: 0.7;
}

.header-basket-icon:hover .basket-item-count,
.header-basket-icon:hover .header-basket {
    opacity: 0.8;
}

/* ------ Subnav ------ */

.header-subnav {
    position: relative;
}

.header-subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: var(--color-white);
    width: 210px;
    z-index: 1;
}

.header-subnav:hover .header-subnav-content {
    display: block;
}

.header-subnav-content a {
    display: block;
    padding: 12px;
}

.header-subnav-content a:hover {
    color: var(--color-madder);
    transition-duration: var(--transition-duration);
}

/* ------ Telephone ------ */

.header-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

.header-telephone-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-telephone-link {
    display: flex;
    align-items: center;
}

.header-telephone-icon {
    height: 100%;
    margin-right: 5px;
}

.header-telephone-details {
    display: flex;
    flex-direction: column;
}

.header-hours {
    color: var(--color-silver);
    font-size: 12px;
    margin-top: 3px;
    align-self: flex-end;
}

/* ------ Basket ------ */

.header-basket-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
    border-radius: 6px;
    padding: 6px 16px;
    background-color: var(--color-white-smoke);
}

.basket-separator {
    background-color: var(--color-white);
    border-radius: 4px;
    width: 2px;
    height: 24px;
}

.header-basket-icon {
    flex-shrink: 0;
    position: relative;
}

.basket-item-count {
    display: flex;
    width: 16px;
    aspect-ratio: 1;
    border-radius: 100%;
    color: var(--color-white);
    background-color: var(--color-dark);
    font-size: 12px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    right: -20%;
}

/* ------ Media ------ */

.header-logo-min-image, 
.header-logo-sec-image, 
.header-burger-button {
    display: none;
}

@media (max-width: 1445px) {
    .header {
        padding: 10px 50px;
    }

    .header-menu-list {
        column-gap: 20px;
    }

    .header-logo-min-image {
        display: none;
    }

    .header-logo-image {
        display: flex;
    }
}

/* Laptop */

@media (max-width: 1148px) {
    .header {
        column-gap: 50px;
    }
}

@media (max-width: 1133px) {
    .header {
        column-gap: 40px;
        padding: 10px 30px;
    }

    .header-logo-menu {
        column-gap: 20px;
    }

    .header-menu-list {
        column-gap: 14px;
    }

    .header-actions {
        column-gap: 10px;
    }

    .header-basket-group {
        padding: 6px 10px;
    }
}

/* --- Tablet --- */

@media (max-width: 768px) {
    .header {
        padding: 15px 20px;
        column-gap: 52px;
        height: 80px;
    }

    .header-logo-menu {
        column-gap: 20px;
    }

    .header-menu-list {
        justify-content: space-between;
        width: 492px;
    }

    .header-actions {
        column-gap: 14px;
    }

    .header-basket-group {
        padding: 6px 14px;
    }

    .header-telephone-icon {
        margin: 0;
    }

    .header-logo-image,
    .header-our-menu-icon,
    .header-map-icon,
    .header-telephone-details,
    .header-basket-cost,
    .basket-separator {
        display: none;
    }

    .header-logo-min-image {
        display: flex;
    }
}

/* --- Mobile --- */

@media (max-width: 360px) {
    .header {
        height: 60px;
    }

    .header-logo-menu {
        display: none;
    }

    .header-logo-sec-image,
    .header-burger-button {
        display: flex;
    }

    .header-actions {
        justify-content: space-between;
        gap: 22px;
        width: 100%;
    }
}