.hero-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 20px 130px;
    gap: 40px;
    /* width: 1250px; */
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 46px;
    /* width: 780px; */
}

/* ------ H and Text ------ */

.hero-h-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.hero-title {
    color: var(--color-madder);
    line-height: 140%;
}

.hero-text {
    font-size: clamp(18px, 1.25vw, 36px);
    font-family: var(--second-family);
    padding-right: 86px;
}

/* ------ Btn ------ */

.hero-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 8px;
    border-radius: var(--btn20-border-radius);
    padding: var(--btn20-padding);
    background-color: var(--color-btn20);
}

.hero-button:hover {
    background-color: rgba(230, 140, 26, 0.6);
}

.hero-button:hover .hero-icon {
    transform: translateX(8px);
    transition: var(--transition-arrow);
}

/* ------ Media ------ */

/* --- Tablet --- */

@media (max-width: 768px) {
    .hero-body {
        padding: 20px 40px;
    }

    .hero-content {
        gap: 21px;
    }

    .hero-h-text {
        gap: 23px;
    }

    .hero-body img:not(.hero-icon) {
        max-width: 300px;
        max-height: 382px;
    }

    .hero-text {
        font-size: clamp(14px, 1.82vw, 28px);
    }

    .hero-button {
        gap: 6px;
        border-radius: var(--btn20-border-radius);
        padding: var(--btn20-padding);
        font-size: clamp(12px, 1.56vw, 24px);
    }

    .hero-icon {
        width: 24px;
        aspect-ratio: 1;
    }

    .hero-button:hover .hero-icon {
        transform: none;
    }
}

/* --- Mobile --- */

@media (max-width: 360px) {
    .hero-body {
        /* сверху, по горизонтали, снизу */
        padding: 50px 20px 10px;
    }

    .hero-content {
        gap: 25px;
    }

    .hero-h-text {
        gap: 20px;
    }

    .hero-text {
        padding-right: 0px;
    }

    .hero-body img:not(.hero-icon) {
        display: none;
    }

    .hero-button {
        gap: 6px;
        border-radius: var(--btn20-border-radius);
        padding: 6px 10px;
        font-size: clamp(11px, 3.05vw, 22px);
    }

    .hero-icon {
        width: 12px;
        aspect-ratio: 1;
    }

    .hero-button:hover .hero-icon {
        transform: none;
    }
}