.our-menu-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 70px 130px 26px;
}

.our-menu-title {
    margin-bottom: 46px;
}

.our-menu-catalog,
.our-menu-delivery-group {
    margin: 0px 38px;
}

/* ------ Catalog ------ */

.our-menu-catalog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 30px;
}

/* --- Catalog Item --- */

.catalog-item {
    display: block;
    width: 100%;
}

.catalog-item-content {
    position: relative;
    overflow: hidden;
    height: 320px;
    transition: var(--transition-arrow);
}

.catalog-item-content:hover {
    opacity: 0.8; 
}

.catalog-item-img {
    width: 100%;
    height: auto;
}

.catalog-item-text {
    position: absolute;
    bottom: 0;
    left: 0;
    /* --- FLexbox --- */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    /* --- Block Model --- */
    border-radius: var(--btn4-border-radius);
    /* --- Effects --- */
    background-color: var(--color-madder);
    padding: var(--btn4-padding);
    /* --- Text --- */
    font-weight: 700;
    font-size: clamp(20px, 1.38vw, 40px);
    color: var(--color-white);
}

/* ------ Delivery ------ */
.our-menu-delivery-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
}

.our-menu-delivery-group .delivery-row {
    font-family: var(--second-family);
    font-size: clamp(18px, 1.25vw, 36px);
    width: 660px;
}

/* --- Btn --- */

.our-menu-delivery-group .delivery-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background-color: var(--color-btn20);
    border-radius: var(--btn20-border-radius);
    padding: var(--btn20-padding);
}

.our-menu-delivery-group .delivery-button:hover {
    background-color: rgba(230, 140, 26, 0.6);
}

.our-menu-delivery-group .delivery-button:hover .delivery-icon {
    transform: translateX(8px);
    transition: var(--transition-arrow);
}

/* ------ Media ------ */

/* --- Tablet --- */

@media (max-width: 768px) {
    .our-menu-body {
        padding: 50px 40px 30px 40px;
        justify-content: space-between;
    }

    .our-menu-title {
        margin-bottom: 30px;
    }

    /* catalog */
    .our-menu-catalog {
        gap: 10px;
        padding: 0px;
    }

    .catalog-item-content {
        height: auto;
    }

    .catalog-item-text {
        font-size: clamp(12px, 1.56vw, 24px);
        padding: 6px 30px;
    }

    .our-menu-catalog {
        padding-bottom: 30px;
    }

    .our-menu-catalog, .our-menu-delivery-group {
        margin: 0px;
    }

    /* delivery */

    .our-menu-delivery-group {
        gap: 30px;
        padding: 0px;
    }

    .our-menu-delivery-group .delivery-row {
        font-size: clamp(14px, 1.82vw, 28px);
        width: 550px;
    }

    .our-menu-delivery-group .delivery-button {
        font-size: clamp(12px, 1.56vw, 24px);
    }

    .our-menu-delivery-group .delivery-button {
        padding: var(--btn20-padding);
    }

    .our-menu-delivery-group .delivery-icon {
        width: 24px;
        aspect-ratio: 1;
    }

    .our-menu-delivery-group .delivery-button:hover .delivery-icon {
        transform: none;
    }
}

/* --- Mobile --- */

@media (max-width: 360px) {
    .our-menu-body {
        padding: 30px 20px 20px;
    }

    .our-menu-title {
        margin-bottom: 20px;
    }

    /* delivery */

    .our-menu-catalog {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 20px;
        padding-bottom: 20px;
    }

    .catalog-item-content {
        height: auto;
    }

    .catalog-item-text {
        font-size: clamp(12px, 3.33vw, 24px);
        padding: 6px 30px;
    }

    .our-menu-delivery-group {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
    }

    .our-menu-delivery-group .delivery-row {
        font-size: clamp(14px, 3.88vw, 28px);
        width: 320px;
    }

    .our-menu-delivery-group .delivery-button {
        gap: 2px;
        padding: 6px 10px;
        font-size: clamp(12px, 3.33vw, 24px);
    }

    .our-menu-delivery-group .delivery-button:hover .delivery-icon {
        transform: none;
    }

    .our-menu-delivery-group .delivery-icon {
        width: 16px;
        aspect-ratio: 1;
    }
}