.set-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 70px 90px 90px 130px;
    gap: 40px;
}

/* overflow-x: auto */

.flipped {
    transform: scaleX(-1); /* Отзеркаливаем по горизонтали */
}

/* Caorusel */

.carousel-arrow {
    opacity: .9;
    transition: var(--transition-duration);
}

.carousel-arrow:hover,
.carousel-arrow:focus {
    opacity: 1;
}

.set-wrap-list {
    overflow: hidden;
    /* Скрываем лишние элементы */
    width: 100%;
    /* Устанавливаем ширину */
}

.set-list {
    display: flex;
    /* Используем flex для карусели */
    transition: transform 0.5s ease;
    /* Плавный переход */
}

.set-list li {
    min-width: 33.33%;
    /* 3 элемента в ряд */
    list-style: none;
    /* Убираем маркеры списка */
}